CONTRACT_ADDRESS =
CONTRACT_ABI = 
WALLET_ADDRESS =
ALCHEMY_API =
ALCHEMY_ENDPOINT = 
PRIVATE_KEY = 
WALLET_PRIVATE_KEY = 
APP_ENV = 
LOG_SERVER=<LOKI-SERVER-URL>
OTEL_LOG_COLLECTOR=<OTEL-LOG-COLLECTOR-URL>
OTEL_TRACE_COLLECTOR=<OTEL-TRACE-COLLECTOR-URL>