APP_ENV=DEVELOPMENT
 
 
# Django Core
SECRET_KEY=django-insecure-@zj6r=c(h+=g#*jquusa_hrg8p@nscc=2$k&(@s-u$-8pzffqg
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,host.docker.internal,172.16.231.80,user-management-api
 
# Database
DB_ENGINE=django.db.backends.postgresql
DB_HOST=<DB_HOST_NAME>
DB_PORT=<DB_PORT_NUMBER>
POSTGRES_USER=<DB_USERNAME>
POSTGRES_PASSWORD=<DB_PASSWORD>
POSTGRES_DB=<DB_NAME>


# ============================================
# RabbitMQ Configuration
# ============================================
RABBITMQ_HOST=<RABBITMQ_HOST>
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
 
# JWT
JWT_SECRET_KEY=kikorikenokori
JWT_ALGORITHM=HS256
 
LOG_SERVER=http://loki:3100/loki/api/v1/push
OTEL_LOG_COLLECTOR=http://otel-collector:4318/v1/logs
OTEL_TRACE_COLLECTOR=http://otel-collector:4318/v1/traces
