# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

logs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build/install files
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Testing
.coverage
htmlcov/
.coverage.*
.cache
.pytest_cache/

# OS-specific
.DS_Store
Thumbs.db
