asgiref==3.9.1
dj-rest-auth==7.0.1
Django==5.2.4
django-allauth==65.10.0
django-environ==0.12.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
pika==1.3.2
PyJWT==2.10.1
sqlparse==0.5.3
