KONG_LOG_LEVEL=
KONG_DATABASE=
KONG_PG_HOST=
KONG_PG_USER=
KONG_PG_PASSWORD=
KONG_PG_DATABASE=
KONG_ADMIN_LISTEN=
KONG_ADMIN_GUI_URL=
KONG_ADMIN_GUI_LISTEN=
KONG_ADMIN_CORS_ORIGINS=
KONG_ADMIN_API_URI=
KONG_ADMIN_GUI_ACCESS_LOG=
KONG_ADMIN_ACCESS_LOG=
KONG_ADMIN_ERROR_LOG=
KONG_ADMIN_GUI_ERROR_LOG=
KONG_PLUGINS=
