APP_ENV=DEVELOPMENT
APP_PORT=3000
DB_HOST=<Docker-Container-Name>
DB_PORT=5432
POSTGRES_DB=<Maintenance-DB-Name>
POSTGRES_USER=
POSTGRES_PASSWORD=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
ALCHEMY_API_KEY=<Your-Alchemy-API-Key>
ALCHEMY_NETWORK=<Network-Name> # See: https://github.com/alchemyplatform/alchemy-sdk-js/blob/master/docs-md/enums/Network.md
ALCHEMY_URL=<Custom-RPC-URL> # For custom networks like celo-sepolia
PROPOSAL_TOPIC=0xa7111a86c2f98a3baf7875ce595b4575567bb709a32769f65176d6e1cbed526e
PROPOSAL_EXECUTED_TOPIC=0x712ae1383f79ac853f8d882153778e0260ef8f03b504e2866e0593e04d2b291f
PROPOSAL_CANCELLED_TOPIC=0x789cf55be980739dad1d0699b93b58e806b51c9d96619bfa8fe0a28abaa7b30c
PROPOSAL_END_TOPIC=0x0000000000000000000000000000000000000000000000000000000000000000
DAO_CONTRACT_ADDRESS=<Your-DAO-Contract-Address>
SUBGRAPH_QUERY_ENDPOINT=<Your-Subgraph-Endpoint>
LOG_SERVER=http://loki:3100
OTEL_LOG_COLLECTOR=http://otel-collector:4318/v1/logs
OTEL_TRACE_COLLECTOR=http://otel-collector:4318/v1/traces
TEMPO_URL=http://tempo:3200
TEMPO_RETRY_COUNT=3
TEMPO_RETRY_DELAY_MS=2000
GOVERNANCE_EVENT_EXCHANGE=exchange.web3_event_hub.fanout
PAYMENT_EVENT_EXCHANGE=exchange.payment_event_hub.fanout
