services:
  audit-app:
    container_name: audit_service_api
    build:
      context: .
      args:
        - APP_ENV
    command: npm run start
    ports:
      - 3003:3000
    volumes:
      - .:/usr/src/app
    env_file:
      # Add this line to specify the environment file
      - .env.local # Specify the path to your .env file
    networks:
      - fincube23_network
  audit-trail-pgsqldb:
    container_name: audit-trail-pgsqldb
    image: postgres:16
    env_file:
      - .env.local
    ports:
      - 5434:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - fincube23_network

volumes:
  postgres-data:


networks:
  fincube23_network:
    external: true
