@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --chart-1: 359 2% 90%;
    --chart-2: 240 1% 74%;
    --chart-3: 240 1% 58%;
    --chart-4: 240 1% 42%;
    --chart-5: 240 2% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.navbar-gradient {
  background: linear-gradient(
    to bottom,
    rgba(33, 33, 33, 1) 0%,
    rgba(34, 34, 34, 0) 100%
  );
}

.overflow-tranc {
  @apply overflow-hidden overflow-ellipsis md:overflow-auto w-16 md:w-full;
}

@keyframes border-pulsate {
  0% {
    border-color: rgba(34, 197, 94, 1);
  }
  50% {
    border-color: rgba(0, 255, 0, 0);
  }
  100% {
    border-color: rgba(34, 197, 94, 1);
  }
}

.pulse-border {
  border: 2px soild;
}

.pulse-border:hover {
  border: 1px solid rgba(34, 197, 94, 1);
  animation: border-pulsate 2s infinite;
}

.styled-title {
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
.styled-title:before {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 10px;
}
.styled-title:after {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-top: 10px;
}
