APP_ENV = 
DB_HOST= <DB_HOST_NAME>
DB_PORT=<DB_HOST_PORT_NUMBER>
POSTGRES_USER= <USERNAME>
POSTGRES_PASSWORD = <PASSWORD>
POSTGRES_DB= <INIT_DB_NAME>
LOG_SERVER= <LOKI_DOCKER_ENDPOINT_AND_PORT>
OTEL_LOG_COLLECTOR=<OTEL-LOG-COLLECTOR-URL>
OTEL_TRACE_COLLECTOR=<OTEL-TRACE-COLLECTOR-URL>