services:
  dao-app:
    container_name: dao_service_api
    build:
      context: ./
      args:
        - APP_ENV
    ports:
      - 3002:3000
    volumes:
      - ./:/app
      - /app/node_modules
    env_file:
      # Add this line to specify the environment file
      - .env.local # Specify the path to your .env file
    networks:
      - fincube23_network

  dao-service-pgsqldb:
    container_name: dao-service-pgsqldb
    image: postgres:16
    env_file:
      - .env.local
    ports:
      - '5433:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - fincube23_network

volumes:
  postgres-data:

networks:
  fincube23_network:
    external: true
